{% extends 'echo/base.html' %}

{% block title %}Book List{% endblock %}

{% block content %}
    <h1>Book List</h1>
    <ul>
        {% for book in books %}
            <li>
                {{ book.title }} by {{ book.author }} - ${{ book.price }}
                <a href="{% url 'book_detail' book.pk %}">View</a>
                {% if user.is_authenticated and user.role == 'admin' %}
                    <a href="{% url 'book_edit' book.pk %}">Edit</a>
                    <a href="{% url 'book_delete' book.pk %}">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <!-- Пагинация -->
    <div class="pagination">
        <span class="step-links">
            {% if books.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ books.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ books.number }} of {{ books.paginator.num_pages }}.
            </span>

            {% if books.has_next %}
                <a href="?page={{ books.next_page_number }}">next</a>
                <a href="?page={{ books.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}